@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

html {
  display: block;
  margin: auto auto;
  text-align: center;
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  background-color: #DDB268;
  color: white;
  margin-top: -1.4em
}

#screen {
  background-color: #232323;
  text-align: right;
  padding-right: .5em;
  font-size: 2em;
  border-radius: 4%;
  margin-bottom: -1em;
  color: rgba(255, 255, 255, 0.58);
}

#screen p {
  font-size: 2em;
}

#button-containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 1em;
  row-gap: 1em;
}

button {
  background-color: #16456E;
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 7%;
  border-style: none;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
}

button:active {
  background-color: #0A3960;
  transform: scale(0.92);
}

#plus {
  background-color: #10273B;
}
#plus:active {
  background-color: #071E30;
}
#minus {
  background-color: #10273B;
}
#minus:active {
  background-color: #071E30;
}
#multiply {
  background-color: #10273B;
}
#multiply:active {
  background-color: #071E30;
}
#divide {
  background-color: #10273B;
}
#divide:active {
  background-color: #071E30;
}
#equals {
  background-color: #10273B;
}
#equals:active {
  background-color: #071E30;
}
#clear {
  background-color: #923951;
}
#clear:active {
  background-color: #803146;
}